/* media queries */
/* mobile first small*/
/* main page content container */
.front_page_news_data_cards {
  background-color: yellow;
  margin: 1rem;
  width: 90vw;
  /* display: none; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.front_page_news_data_cards a {
  text-decoration: none;
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .front_page_news_data_cards {
    background-color: orange;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .front_page_news_data_cards {
    background-color: green;
  }
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .front_page_news_data_cards {
    /* width: 42vw; */
    width: 90vw;
    background-color: blue;
    flex: 1;
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .front_page_news_data_card {
    /* background-color: yellow; */

    width: 50vw;
    display: flex;
    flex-wrap: wrap;
  }
}
