/* media queries */
/* mobile first small*/
/* main page content container */
.front_page_event_data_cards {
  /* background-color: rgb(245, 215, 152); */
  margin: 1rem;
  /* display: none; */
}

.front_page_event_data_cards a {
  text-decoration: none;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .front_page_event_data_cards {
    width: 50vw;
    /* background-color: rgb(240, 149, 235); */
    flex: 1;
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-direction: row; */
    flex-direction: column;
  }

  .front_page_event_data_card {
    /* background-color: yellow; */

    width: 50vw;
    display: flex;
    flex-wrap: wrap;
  }

  .front_page_data_card_block_image {
    width: 125px;
    height: 125px;
    /* background-color: yellow; */
    margin: 1.5rem;
  }

  .front_page_data_card_block_text {
    height: 150px;
    overflow: hidden;
    flex: 1;
    /* background-color: rgb(190, 141, 75); */
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .front_page_event_data_cards {
    width: 42vw;
    /* background-color: rgb(240, 149, 235); */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .front_page_event_data_card {
    /* background-color: yellow; */

    width: 50vw;
    display: flex;
    flex-wrap: wrap;
  }

  .front_page_data_card_block_image {
    width: 125px;
    height: 125px;
    /* background-color: yellow; */
    margin: 1.5rem;
  }

  .front_page_data_card_block_text {
    height: 150px;
    overflow: hidden;
    flex: 1;
    /* background-color: rgb(190, 141, 75); */
  }
}
