/* media queries */
/* mobile first small*/
/* main page content container */
.front_page_data_card_block {
  pointer-events: none;
  display: flex;
  align-items: flex-start;
  pointer-events: none;
  /* background-color: rgba(44, 44, 44, 0.5); */
  margin-bottom: 1rem;
}

.front_page_data_card_block_text {
  pointer-events: none;
  flex: 1;
}

.front_page_data_card_block_image {
  width: 80px;
  height: 80px;
  margin: 0.5rem;
}

.front_page_data_card_block_image img {
  border-radius: 50%;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .front_page_data_card_block {
    display: flex;
    /* background-color: rgb(44, 44, 44, 0.5); */

    width: 50vw;
    padding: 0.5rem;
    /* margin-right: 0.5rem; */
    margin-right: 0;
  }

  .front_page_data_card_block_image {
    width: 60px;
    height: 60px;
    /* background-color: yellow; */
    margin-right: 1rem;
    /* border-radius: 2rem; */
  }

  .front_page_data_card_block_text {
    height: 80px;
    overflow: hidden;
    flex: 1;
    /* background-color: rgb(190, 141, 75); */
  }
  .front_page_data_card_block_text h3 {
    font-size: 1rem;
    margin: 0;
    padding: 0.25rem;
  }

  .front_page_data_card_block_text p {
    font-size: 0.8rem;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .front_page_data_card_block {
    display: flex;
    /* background-color: rgb(44, 44, 44, 0.5); */

    /* width: 35vw; */
    width: 20vw;
    padding: 0.5rem;
    margin-right: 0.5rem;
  }

  .front_page_data_card_block_image {
    width: 125px;
    height: 125px;
    /* background-color: yellow; */
    margin-right: 1rem;
    /* border-radius: 2rem; */
  }

  .front_page_data_card_block_text {
    height: 150px;
    overflow: hidden;
    flex: 1;
    /* background-color: rgb(190, 141, 75); */
  }
}
