/* media queries */
/* mobile first small*/
/* main page content container */

.front_page_big_card {
  /* link is applied to the image */
  /* background-color: greenyellow; */
  height: 320px;
  margin: 1rem;
  position: relative;
}

.front_page_big_card img {
  border-radius: 3rem;
}

.front_page_big_card__text_top {
  /* link is applied to the image */
  pointer-events: none;
  /* make sure the link is visible */
  border-radius: 3rem;

  background-color: var(--bg_overlay_color);
  height: 100%;

  position: absolute;
  top: 0;
  width: 100%;
  z-index: 5;
}

.front_page_big_card__text_top h2 {
  font-weight: 900;
  margin: 1rem;
}

.front_page_big_card__text_middle {
  pointer-events: none;
  position: absolute;
  top: 30%;
  z-index: 6;
}

.front_page_big_card__text_middle p {
  font-weight: 600;
  margin: 1rem;
}

.front_page_big_card__text_bottom {
  pointer-events: none;
  bottom: 0;
  position: absolute;
  z-index: 7;
}

.front_page_big_card__text_bottom p {
  font-weight: 600;
  margin: 1rem;
}

/* Medium devices (tablets, 768px and up)  */

@media (min-width: 768px) {
  .front_page_big_card {
    position: relative;
    margin: 0;
    width: 42vw;
    height: 450px;
    border-radius: 1rem;
    /* height: 100%; */
    /* margin: 1rem; */
    /* margin-bottom: 4rem; */
  }

  .front_page_big_card__text_top {
    height: 100%;
    min-height: 220px;
    padding-top: 1rem;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 5;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .front_page_big_card {
    position: relative;
    margin: 0;
    width: 44vw;
    height: 400px;
    border-radius: 1rem;
  }

  .front_page_big_card__text_top {
    height: 100%;
    min-height: 220px;
    padding-top: 1rem;
    position: absolute;
    text-align: left;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  .front_page_big_card__text_bottom {
    bottom: 0;
    padding-bottom: 1rem;
    position: absolute;
    text-align: left;
    width: 100%;
    z-index: 6;
  }
}
